body{
    background-image: url(img/winter-snow.jpg);
}

h1{
    background-color: #4d4d4d;
    color: #f5f5f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ruta1{
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ruta2{
    border: 2px solid yellow;
    background-color: #4d4d4d;
    color: #f5f5f5;
    width: 25%;
    padding: 10px;
    margin: auto;
    margin-top: 2px;
}

#jul{
    color: #f7a1a1;
    background-color: white;
}

#nyår{
    background-color: #bcbf06;
}

.kalender{
    border: 5px solid black;
}

th{
    border: 1px solid red;
}